body {
    height: 100vh;
    font-family: 'Blinker', sans-serif;
    background-color: #F3FFBD;
    color: rgba(0, 0, 0, 0.4);
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "title title title"
        "winnings combos combos"
        "option1 option2 option3"
        "option21 option22 option23"
        "option31 option32 option33"
        "wagerInput wagerInput wager"
        "totalWinnings totalWinnings spin";
}

.title{
    font-size: 50px;
    grid-area: title;
    color: #70C1B3;
}

.option1 {
    grid-area: option1;
    height: 150px;
}

.option2 {
    grid-area: option2;
    height: 50px;
}

.option3 {
    grid-area: option3;
    height: 50px;
}

.option21 {
    grid-area: option21;
    height: 100px;
}
.option22 {
    grid-area: option22;
    height: 50px;
}
.option23 {
    grid-area: option23;
    height: 50px;
}
.option31 {
    grid-area: option31;
    height: 100px;
}
.option32 {
    grid-area: option32;
    height: 50px;
}
.option33 {
    grid-area: option33;
    height: 50px;
}

button {
    position: relative;
    bottom: 30px;
    right: 30px;
    grid-area: spin;
    border-radius: 10%;
    background-color: #FF1654;
    font-family: 'Blinker', sans-serif;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.9);
}

.winnings {
    grid-area: winnings;
    height: 75px;
    border-radius: 10%;
}

.total-winnings {
    grid-area: totalWinnings;
    height: 50px;
}

img {
    height: 50px;
}

.wager-input{
    grid-area: wagerInput;
}

.wager{
    grid-area: wager;
}

.combos{
    grid-area: combos;
    display: flex;
    justify-content: space-evenly;
}

.space:hover {
    border: 3px solid black;
}